# Tratamento nos dados
Notebook destinado a realizar a preparação dos dados para a otimização

In [1]:
import os
import pandas as pd

os.chdir('..')
os.chdir('utils')
from funcoes import remover_acentos_e_caracteres

## Lendo o arquivo original

In [2]:
os.chdir('..')
os.chdir('dados')

# Ler o arquivo CSV (substitua 'arquivo.csv' pelo nome do arquivo)
df = pd.read_csv('grade_compilada.csv', sep = ';',)
df.rename(columns={'Período do Dia':'Periodo_dia', 'Parte do Horário':'Horario',
           'Tipo de Curso':'Periodo_Aula', 'Tipo de Turma':'Tipo_Curso',
            'prof':'Professor', 'Observação':'Observacao','Turma':'Curso','Aula':'Materia'}, inplace=True)

# Exclui dados nulos
df.dropna(subset=['Curso'], inplace=True)

#Remove TCCs, que não precisa de sala
df = df[df['Observacao']!='TCC']

# Retirando as meterias sem professor que são diferentes de optativas
# Provavelmente não estão no currículo novo
df = df[~((df['Observacao']!='OPTATIVA') & (df['Professor'].isnull()))]

df.tail()

,Campus,Curso,Periodo_dia,Horario,Semestre,Dia,Periodo_Aula,Tipo_Curso,Materia,Professor,Observacao
613,PONTAL,OCEANO,TARDE,2.0,9.0,QUARTA,VESPERTINO,INTEGRAL,INTRODUCAO A MODELAGEM DE PROCESSOS,DOURADO,NaN
614,PONTAL,OCEANO,TARDE,3.0,9.0,QUARTA,VESPERTINO,INTEGRAL,MERGULHO CIENTIFICO(MIRASSOL),BELZ,OPTATIVA
615,PONTAL,OCEANO,TARDE,4.0,9.0,QUARTA,VESPERTINO,INTEGRAL,MERGULHO CIENTIFICO(MIRASSOL),BELZ,OPTATIVA
616,PONTAL,OCEANO,TARDE,1.0,9.0,QUINTA,VESPERTINO,INTEGRAL,INTRODUCAO A MODELAGEM DE PROCESSOS,DOURADO,NaN
617,PONTAL,OCEANO,TARDE,2.0,9.0,QUINTA,VESPERTINO,INTEGRAL,INTRODUCAO A MODELAGEM DE PROCESSOS,DOURADO,NaN

In [3]:
df.isna().sum()

Campus            0
Curso             0
Periodo_dia       0
Horario           0
Semestre          0
Dia               0
Periodo_Aula      0
Tipo_Curso        0
Materia           0
Professor         8
Observacao      520
dtype: int64

In [4]:
df[df['Professor'].isnull()]

,Campus,Curso,Periodo_dia,Horario,Semestre,Dia,Periodo_Aula,Tipo_Curso,Materia,Professor,Observacao
395,MIRASOL,LCE-MATEMÁTICA,NOITE,1.0,5.0,SEGUNDA,NOTURNO,NOTURNO,OPTATIVA I TÓPICOS ESPECIAIS I LCE911,NaN,OPTATIVA
396,MIRASOL,LCE-MATEMÁTICA,NOITE,2.0,5.0,SEGUNDA,NOTURNO,NOTURNO,OPTATIVA I TÓPICOS ESPECIAIS I LCE911,NaN,OPTATIVA
421,MIRASOL,LCE-QUÍMICA,NOITE,1.0,5.0,QUARTA,NOTURNO,NOTURNO,OPTATIVA II TÓPICOS ESPECIAIS II LCE912,NaN,OPTATIVA
422,MIRASOL,LCE-QUÍMICA,NOITE,2.0,5.0,QUARTA,NOTURNO,NOTURNO,OPTATIVA II TÓPICOS ESPECIAIS II LCE912,NaN,OPTATIVA
439,MIRASOL,LCE-FÍSICA,NOITE,1.0,7.0,QUARTA,NOTURNO,NOTURNO,OPTATIVA II TÓPICOS ESPECIAIS II LCE912,NaN,OPTATIVA
440,MIRASOL,LCE-FÍSICA,NOITE,2.0,7.0,QUARTA,NOTURNO,NOTURNO,OPTATIVA II TÓPICOS ESPECIAIS II LCE912,NaN,OPTATIVA
473,MIRASOL,LCE-QUÍMICA,NOITE,3.0,7.0,SEGUNDA,NOTURNO,NOTURNO,OPTATIVA I TÓPICOS ESPECIAIS I LCE911,NaN,OPTATIVA
474,MIRASOL,LCE-QUÍMICA,NOITE,4.0,7.0,SEGUNDA,NOTURNO,NOTURNO,OPTATIVA I TÓPICOS ESPECIAIS I LCE911,NaN,OPTATIVA

## Remove acentos e caracteres especiais

In [5]:
colunas_para_tratar = ['Campus', 'Curso', 'Periodo_dia', 'Dia',
       'Periodo_Aula', 'Tipo_Curso', 'Materia', 'Professor', 'Observacao']
df[colunas_para_tratar] = df[colunas_para_tratar].applymap(remover_acentos_e_caracteres)

In [6]:
df.head()

,Campus,Curso,Periodo_dia,Horario,Semestre,Dia,Periodo_Aula,Tipo_Curso,Materia,Professor,Observacao
0,MIRASOL,EAQ,MANHA,1.0,1.0,SEGUNDA,MATUTINO,INTEGRAL MT,INTRODUCAO A AQUICULTURA,LAGREZE,NaN
1,MIRASOL,EAQ,MANHA,2.0,1.0,SEGUNDA,MATUTINO,INTEGRAL MT,INTRODUCAO A AQUICULTURA,LAGREZE,NaN
2,MIRASOL,EAQ,MANHA,3.0,1.0,SEGUNDA,MATUTINO,INTEGRAL MT,PROBABILIDADE,CENDON,NaN
3,MIRASOL,EAQ,MANHA,4.0,1.0,SEGUNDA,MATUTINO,INTEGRAL MT,PROBABILIDADE,CENDON,NaN
4,MIRASOL,EAQ,MANHA,1.0,1.0,TERCA,MATUTINO,INTEGRAL MT,INTRODUCAO A QUALIDADE,SACHSIDA,NaN

## Quantidade de Hora Aula por materia

In [7]:
hora_aula_materia = df.groupby(['Materia','Curso'])['Campus'].count().reset_index()
hora_aula_materia.head()

                               Materia          Curso  Campus
0           ALGAS NOCIVAS E TOXINASOPT            EAQ       4
1                       ALGEBRA LINEAR         OCEANO       3
2                          ALGICULTURA            EAQ       4
3                       ANALISE CEM324  LCEMATEMATICA       4
4  ANALISE COMPUTACIONAL DE ESTRUTURAS            ECV       4

In [8]:
len(hora_aula_materia)

200

## Professores e as matérias que ofertam

In [9]:
professores_materias = df[['Professor','Campus','Curso','Tipo_Curso','Materia']].drop_duplicates().reset_index(drop=True)

#remove materias que não tem professor
professores_materias.dropna(subset=['Professor'], inplace=True)
professores_materias.head()

  Professor   Campus Curso   Tipo_Curso                   Materia
0   LAGREZE  MIRASOL   EAQ  INTEGRAL MT  INTRODUCAO A AQUICULTURA
1    CENDON  MIRASOL   EAQ  INTEGRAL MT             PROBABILIDADE
2  SACHSIDA  MIRASOL   EAQ  INTEGRAL MT    INTRODUCAO A QUALIDADE
3   RODOLFO  MIRASOL   EAQ  INTEGRAL MT    INTRODUCAO A QUALIDADE
4   LUCIANA  MIRASOL   EAQ  INTEGRAL MT       GEOMETRIA ANALITICA

In [10]:
professores_materias[professores_materias['Professor'].isnull()]

Empty DataFrame
Columns: [Professor, Campus, Curso, Tipo_Curso, Materia]
Index: []

## Materias Comuns as licenciaturas

In [11]:
df['Observacao'].value_counts()

COMUM ENTRE LCE                     24
OPTATIVA                            20
MIRASOLPONTAL                        9
SALA 4                               7
PONTALMIRASOL                        4
EAD                                  4
HORARIO DAS 17H30                    2
EAD MANTER                           1
SALA 4 SALA QUE TEM COMPUTADORES     1
Name: Observacao, dtype: int64

In [12]:
materias_comuns = df[df['Observacao']=='COMUM ENTRE LCE'][['Professor','Campus','Materia']]\
    .drop_duplicates().reset_index(drop=True)

materias_comuns.head()

  Professor   Campus                              Materia
0    VALDIR  MIRASOL  PRATICA PEDAGOGICA DO ENSINO CEM335
1    JEINNI  MIRASOL         DIDATICA DAS CIENCIAS CEM334
2    JEINNI  MIRASOL            ESTAGIO CIENCIAS I CEM336
3    ELIANE  MIRASOL         DIVULGACAO CIENTIFICA CEM326

## Salvando os dataframes

In [13]:
hora_aula_materia.to_csv('hora_aula_materia.csv', index=False)
professores_materias.to_csv('professores_materias.csv', index=False)
materias_comuns.to_csv('materias_comuns.csv', index=False)
df.to_csv('grade_compilada_tratado.csv', index=False)