# Tratamento nos dados
Notebook destinado a realizar a preparação dos dados para a otimização

In [1]:
import os
import pandas as pd

## Lendo o arquivo original

In [3]:
os.chdir('..')
os.chdir('dados')

# Ler o arquivo CSV (substitua 'arquivo.csv' pelo nome do arquivo)
df = pd.read_csv('grade_compilada.csv', sep = ';')

# Exibir as primeiras linhas do DataFrame
df.head()

,Campus,Turma,Período do Dia,Parte do Horário,Semestre,Dia,Tipo de Curso,Tipo de Turma,Aula,prof,Observação
0,MIRASOL,EAQ,MANHÃ,1.0,1.0,SEGUNDA,MATUTINO,INTEGRAL MT,INTRODUÇÃO A AQUICULTURA,LAGREZE,NaN
1,MIRASOL,EAQ,MANHÃ,2.0,1.0,SEGUNDA,MATUTINO,INTEGRAL MT,INTRODUÇÃO A AQUICULTURA,LAGREZE,NaN
2,MIRASOL,EAQ,MANHÃ,3.0,1.0,SEGUNDA,MATUTINO,INTEGRAL MT,PROBABILIDADE,CENDON,NaN
3,MIRASOL,EAQ,MANHÃ,4.0,1.0,SEGUNDA,MATUTINO,INTEGRAL MT,PROBABILIDADE,CENDON,NaN
4,MIRASOL,EAQ,MANHÃ,1.0,1.0,TERÇA,MATUTINO,INTEGRAL MT,INTRODUÇÃO A QUALIDADE,SACHSIDA,NaN